img {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  display: block;
}
ul {
  padding: 0;
  margin: 0;
  width: 4000px;
}

ul>li {
  list-style: none;
  float: left;
}

#carousel {
  border: 10px solid black;
  width: 800px;
  overflow: hidden;
  margin: 0 auto;
 }